<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "cart">

	<insert id="insert">
	
	insert into cart(member_id,product_code,size,amount) values(#{member_id},#{product_code},#{size},#{amount})
	
	
	</insert>
	
	
	<select id="list" resultType="com.Ims.shop.vo.AllVo"> 
	
	select cart_id,p.product_code,c.member_id,p.filename,p.size,m.member_name,p.product_name,price,price*amount money,color,amount
	from member m,cart c,product p where m.member_id=c.member_id and c.product_code = p.product_code and c.member_id = #{userid} order by cart_id
	
	</select>
	
	
	<select id="sumMoney" resultType="int">
	
	
	select coalesce(sum(price*amount),0) from cart c,product p where c.product_code=p.product_code and member_id=#{user_id}
	
	</select>
	
	
	<delete id="delete">
	
	delete from cart where cart_id = #{cart_id}
	
	
	</delete>
	
	
	<delete id="deleteAll">
	
	delete from cart where member_id = #{userid}
	
	</delete>
	
	<update id="modify">
 
      update cart set amount=#{amount} where cart_id=#{cart_id}
     
     </update>
	
	
</mapper>