<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "com.Ims.shop.notice">

	<!-- 동적 SQL문으로 처리: choose-when-otherwise 구문 -->
	<insert id="addNotice" parameterType="noticeVo">
		<![CDATA[
		insert into b_notice(
						n_title,n_content,n_origin_filename,n_system_filename,member_name,ct_idx)
					values(#{n_title},#{n_content},#{n_origin_filename}, #{n_system_filename}, #{member_name}, #{ct_idx})	
		]]>	
	
	
	</insert>
	<!-- 게시글 총 갯수 -->
	<select id="countNotice" resultType="int">
		select count(*) from b_notice
	</select>
	
	
	
	<!-- 갤러리 리스트 불러오는 sql문 -->
	<select id="selectNoticeList" resultType="noticeVo">
		
		select * from b_notice where n_delyn='N' order by n_bidx desc limit #{start},#{end}
		 <!-- 
		SELECT * from b_notice where n_delyn=N ORDER by n_bidx DESC limit #{start},10;
		 -->
		 <!-- 
		<![CDATA[
		
		select * from (
				select rownum rn, A.*
					from (
						select *
						from b_notice
						where n_delyn=N order by n_bidx desc
						)A
					)
		where rn between #{start} and #{end}
		]]>
		 -->
	</select>
	<!-- 글 보기 -->
	<select id="getNoticeView" resultType="noticeVo" parameterType="int">
		<![CDATA[
		select n_title, n_content, member_name, n_bidx from b_notice where n_bidx=#{n_bidx}
		]]>
	</select>
	
	
	<select id="getNoticeModify" resultType="noticeVo" parameterType="int">
		<![CDATA[
		select * from b_notice where n_bidx=#{n_bidx}
		]]>	
	</select>
	
	
	<update id="getNoticeModifyProcess">
		<![CDATA[
		update b_notice SET n_title=#{n_title}, n_content=#{n_content}, n_bidx=#{n_bidx},ct_idx=#{ct_idx} where n_bidx=#{n_bidx}
		]]>
		
	</update>
	
	
	<update id="getNoticeDelete">
		<![CDATA[
		update b_notice set n_delyn='Y' where n_bidx=#{n_bidx}
		]]>
	</update>
	
	
	
</mapper>