<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace = "pay">

	
	<insert id="insert">
	
	insert into order1(order_code,order_cart,order_name,order_phone,order_sum,order_addr1,order_addr2,order_addr3) values(#{order_code},#{order_cart},#{order_name},#{order_phone},#{order_sum},#{order_addr1},#{order_addr2},#{order_addr3})
	
	</insert>
	
	
	
</mapper>